html {
    height: 100%;
    user-select: none;
}

body {
    background: linear-gradient(#444, #222);
    min-width: 100vw;
    margin: 0;
    position:fixed;
    overflow:hidden;
    font-family: Arial, sans-serif;
    font-size: large;
    color: white;
    text-shadow: 1px 1px 2px #000;
}

.page {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#444, #222);
}

.content {
    margin: 5px;
}

.title1 {
    stroke: none;
    fill: white;
    font: 3.8em/1 "Times New Roman", Times, serif;
    text-shadow: none;
}

#iGame {
    transform: translateX(100vw);
    opacity: 0;
}

.swipe-in {
    animation-name: swipe-in;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
}

@keyframes swipe-in {
    0% {
        transform: translateX(100vw);
        opacity: 0;
    }
    1% {
        transform: translateX(100vw);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.swipe-out {
    animation-name: swipe-out;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
}

@keyframes swipe-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    99% {
        transform: translateX(-100vw);
        opacity: 1;
    }
    100% {
        transform: translateX(-100vw);
        opacity: 0;
    }
}
.swipe-in-left {
    animation-name: swipe-in-left;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
}

@keyframes swipe-in-left {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    99% {
        transform: translateX(100vw);
        opacity: 1;
    }
    100% {
        transform: translateX(100vw);
        opacity: 0;
    }
}

.swipe-out-right {
    animation-name: swipe-out-right;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
}

@keyframes swipe-out-right {
    0% {
        transform: translateX(-100vw);
        opacity: 0;
    }
    1% {
        transform: translateX(-100vw);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.list-button, .mini-button, .close-button {
    border:  1px transparent;
    background-image: linear-gradient(#444,#2d2d2d), linear-gradient(#999, #444 10px, #111 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    cursor: pointer;
}
.list-button {
    display: inline-block;
    width: calc(50vw - 12px);
    text-align: center;
    padding: 1px 0 1px 0;
    margin-left: 1px;
}
.list-button:first-child, .mini-buttonlist > .mini-button:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 1px 0 1px 1px;
    margin-left: 0;
}
.list-button:last-child, .mini-buttonlist > .mini-button:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1px 1px 1px 0;
    margin-left: 1px;
}
.mini-button, .close-button {
    padding: 1px;
}
nav, .mini-buttonlist {
    margin: 5px 5px 10px 5px;
    background-color: #111;
    display: flex;
}
nav, .mini-buttonlist, .close-button, .xs {
    border-radius: 10px;
    box-shadow: 0 0 0.5vmin 2px #111;
}
.list-button:hover, .mini-button:hover, .close-button:hover {
    background-image: linear-gradient(#555555, #383838), linear-gradient(#ccc, #555 10px, #222 100%);
}
.list-button:active, .mini-button:active, .close-button:active {
    background-image: linear-gradient(#202020, #2c2c2c), linear-gradient(#222, #111 calc(100% - 10px), #aaa 100%);
}
.selected {
    background-image: linear-gradient(#ff0142, #830110), linear-gradient(#ffbabc, #e33a33 12px, #55010a 100%);
}
.mini-button:active > img, .list-button:active > img {
    margin-top: 7px;
    margin-bottom: 3px;
}
.mini-button:active > .bttxt {
    margin-top: 12px;
    margin-bottom: 8px;
}
.mini-button {
    width: 59px;
    height: 40px;
    padding: 1px 0 1px 0;
    display: inline-block;
}
.mini-buttonlist {
    height: 42px;
}
.mini-img {
    margin: 5px 15px 5px 15px;
    max-height: calc(100% - 10px);
}
.close-button {
    border-radius: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.right {
    display: flex;
    justify-content: flex-end
}
.w25 {
    width: calc(25% - 4px);
}
.w60 {
    width: 60px;
}
a:link {
    color: #40C4FF;
}
a:visited {
    color: #00B0FF;
}
a:hover {
    color: #80D8FF;
}
a:active {
    color: #80D8FF;
}


.popup {
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px transparent;
    border-radius: 15px;
    box-shadow: 3px 3px 3vmin 3px #000;
    background-image: linear-gradient(#333, #444 35%, #222 100%), linear-gradient(#bbb, #444 10%, #111 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 2px;
    width: 400px;
    max-width: calc(100vw - 40px);
}
.popup-init {
    visibility: hidden;
    opacity: 0;
}
.popup-show {
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
}
.popup-show > div:first-child {
    animation: 1s zoomIn;
    animation-fill-mode: forwards;
}
.popup-show-draw {
    animation: 2s fadeInDraw;
    animation-fill-mode: forwards;
}
.popup-show-draw > div:first-child {
    animation: 2s zoomInDraw;
    animation-fill-mode: forwards;
}
.popup-show-slow {
    /*visibility: visible;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;*/
    animation: 3s fadeInSlow;
    animation-fill-mode: forwards;
}
.popup-show-slow > div:first-child {
    animation: 3s zoomInSlow;
    animation-fill-mode: forwards;
}
.popup-hide {
    animation: 1s fadeOut;
    animation-fill-mode: forwards;
}
.popup-hide > div:first-child {
    animation: 1s zoomOut;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}
@keyframes zoomIn {
    0% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes fadeInSlow {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}
@keyframes zoomInSlow {
    0% {
    }
    66% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes fadeInDraw {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}
@keyframes zoomInDraw {
    0% {
    }
    50% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}
@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.75);
    }
}
.popup-head {
    height: 50px;
    margin: 10px;
}
.popup-body {
    margin: 20px;
}
.popup-content {
    margin-bottom: 20px;
}
.popup-footer {
    height: 50px;
    margin: 20px;
}
#iPopupScore > div:first-child {
    position:absolute;
    top: 123px;
}
.overflow {
    display: block;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
    padding-top: 20px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
@supports (-webkit-overflow-scrolling: touch) {
    .overflow {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}
@supports not (-webkit-overflow-scrolling: touch) {
    .overflow {
        overflow-y: auto;
    }
}
.buffer {
    height: 40px;
}
.button {
    float: right;
    border: 1px transparent;
    border-radius: 10px;
    box-shadow: 0 0 0.5vmin 2px #000;
    text-shadow: 1px 1px 2px #500000;
    background-image: linear-gradient(#26C6DA, #006064), linear-gradient(#80DEEA, #00ACC1 12px, #00838F 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 1px;
    height: 40px;
    width: 100px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}
.button:hover {
    background-image: linear-gradient(#51d1e1, #009499), linear-gradient(#a7e8f1, #00cbe6 12px, #00a4b3 100%);
}
.button:active {
    background-image: linear-gradient(#1e9eae, #004a4d), linear-gradient(#65d7e6, #008799 calc(100% - 12px), #005e66 100%);;
}
.button-span {
    margin-top: 8px;
}
.button-span:active {
    margin-top: 10px;
}
.button-span > img {
    margin-bottom: -3px;
}



#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}
#grid > div {
    position: relative;
}

#grid > div img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.dummy {
    display: none;
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container.turned .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100%;
    padding-bottom: 100%;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    position: absolute;
    backface-visibility: hidden;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}
